<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body style="margin: auto;width: 1020px">
<ul>
{{#each docs}}
    <li style="float: left;list-style-type: none"> <p><img width="300px;" src="{{img}}" alt=""/></p></li>
{{/each}}
</ul>
<a href="/{{nextPage}}">下一页</a>
</body>
</html>